# Python cache
__pycache__/
*.pyc

# Virtual environments
data_env/
.venv/
venv/
env/

# Conda / local environments
*.conda

# Large datasets
datasets/public_rotating_machine/raw_part1/
datasets/public_rotating_machine/selected_sample/
datasets/public_rotating_machine/processed/
datasets/synthetic_conveyor/

# Trained models
ml_pipeline/models/

# Generated outputs
ml_pipeline/outputs/

# Large ML/data artefacts
*.npz
*.keras
*.joblib

# VS Code local settings
.vscode/

# System files
.DS_Store
Thumbs.db